@page
@model FilmClient.Pages.FilmPerson.IndexModel
@{
    ViewData["Title"] = "List All Film/Person Relations";
}

<h2>@ViewData["Title"]</h2>
<div><a asp-page="./Create">Create a new Film/Person relation</a></div>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.Contributor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.ContributorBirthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmPeople.TypicalEntry.Key)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FilmPeople)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contributor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContributorBirthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-key="@item.Key">Edit</a> |
                    <a asp-page="./Delete" asp-route-key="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.FilmPeople.HasPrevious() ? "disabled" : "";
    var nextDisabled = !Model.FilmPeople.HasNext() ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-PageIndex="0"
   class="btn btn-default">
    First
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@(Model.FilmPeople.PageIndex- 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a class="btn btn-default disabled">
    Page: @Model.FilmPeople.PageIndex
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@(Model.FilmPeople.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@Model.FilmPeople.LastPage"
   class="btn btn-default">
    Last
</a>
