@page
@model FilmClient.Pages.Person.IndexModel
@{
    ViewData["Title"] = "List All Person Entries";
}

<h2>@ViewData["Title"]</h2>
<div><a asp-page="./Create">Create a new Person entry</a></div>
<table class="table table-bordered table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People.TypicalEntry.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People.TypicalEntry.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People.TypicalEntry.ShortBirthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People.TypicalEntry.Key)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortBirthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-key="@item.Key">Edit</a> |
                    <a asp-page="./Info" asp-route-key="@item.Key">Info</a> |
                    <a asp-page="./Delete" asp-route-key="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.People.HasPrevious() ? "disabled" : "";
    var nextDisabled = !Model.People.HasNext() ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-PageIndex="0"
   class="btn btn-default">
    First
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@(Model.People.PageIndex- 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
Page:
@Model.People.PageIndex
<a  asp-page="./Index"
   asp-route-PageIndex="@(Model.People.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@Model.People.LastPage"
   class="btn btn-default">
    Last
</a>
