@page
@model FilmClient.Pages.Person.InfoModel
@{
    ViewData["Title"] = "Info";
    var personName = Model.ContributorName;
}
<div class="container">
    <h2>Contributions from @personName</h2>
    <div class="row">
        <div class="col-6">
            <h3>As Actor</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AsActor)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>As Composer</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AsComposer)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>As Director</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AsDirector)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>As Screen Writer</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AsScreenWriter)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


