@page
@model FilmClient.Pages.Medium.IndexModel
@{
    ViewData["Title"] = "List All Medium Entries";
}

<h2>@ViewData["Title"]</h2>
<div><a asp-page="./Create">Create a new medium entry</a></div>
<table class="table table-bordered tab-content table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.MediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.GermanSubtitles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media.TypicalEntry.Key)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Media)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediumType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GermanSubtitles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-key="@item.Key">Edit</a> |
                    <a asp-page="./Delete" asp-route-key="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Media.HasPrevious() ? "disabled" : "";
    var nextDisabled = !Model.Media.HasNext() ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-PageIndex="0"
   class="btn btn-default">
    First
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@(Model.Media.PageIndex- 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@(Model.Media.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a asp-page="./Index"
   asp-route-PageIndex="@Model.Media.LastPage"
   class="btn btn-default">
    Last
</a>
