@page
@model FilmClient.Pages.Film.IndexModel
@{
    ViewData["Title"] = "List All Film Entries";
}
<h2>@ViewData["Title"]</h2>
<div><a asp-page="./Create">Create a new Film entry</a></div>
<table class="table-condensed table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Films.TypicalEntry.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.TypicalEntry.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.TypicalEntry.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films.TypicalEntry.Key)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Films)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Key)
                </td>
                <td>
                    <a asp-page="Edit" asp-route-key="@item.Key">Edit</a> |
                    <a asp-page="Info" asp-route-key="@item.Key">Info</a> |
                    <a asp-page="Delete" asp-route-key="@item.Key">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
@{
    var prevDisabled = !Model.Films.HasPrevious() ? "disabled" : "";
    var nextDisabled = !Model.Films.HasNext() ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-pageIndex="0"
   class="btn btn-default">
    First
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Films.PageIndex- 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a class="btn btn-default disabled">
    Page: @Model.Films.PageIndex
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Films.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@Model.Films.LastPage"
   class="btn btn-default">
    Last
</a>