@page
@model FilmClient.Pages.Film.InfoModel
@{
    ViewData["Title"] = "Info";
    var filmName = $"{Model.Title}({Model.Year})";
}
<div class="container">
    <h2>Contributors to @filmName</h2>
    <div class="row">
        <div class="col-6">
            <h3>Actors</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Birthdate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Actors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItrm => item.Birthdate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>Composers</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Birthdate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Composers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthdate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Directors</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Birthdate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Directors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthdate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h3>Screen Writers</h3>
            <table class="table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Birthdate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Scriptwriters)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItrm => item.Birthdate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

